Binaries
DerivedDataCache
Intermediate
Saved
Build
/Content/Rifle_01/
/Content/Assets/
/Content/Blueprints/
/Content/Modular_Rural_Cabin/
/Content/Maps/
.vs
.vscode
.idea
*.VC.db
*.opensdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace